
<%- include ("./partials/header") %>

<style>
	div.bd{
		margin-top: 1.5em;
	}
	div.description{
		margin-bottom: 1.5em;
	}
	div.content{
		color: blue;
		margin-top:0.8em;
		text-align: right;
	}
</style>

	<div class="ui main text container segment">
			<div class="ui huge center aligned header"><%= blog.title%></div>
		<div class="ui top attached">
			<div class="item">
				<img class="ui centered rounded image" src= "<%= blog.image %>" >
			</div>
			<div class="content">
				<span><%= blog.created.toDateString() %></span>							
			</div>
			<div class="description bd">
				<p><%- blog.body %></p>
			</div>
			<a class="ui green inverted button" href="/blogs/<%= blog._id %>/edit">Edit</a>
			<form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
				<button class="ui red inverted right floated button">Delete</button>
			</form>
		</div>
	
			
	</div>


<%- include ("./partials/footer") %>